<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% block title %}Planet 40000{% endblock %}</title>

    <meta name="title" content="Planet 40000">
    <meta name="description" content="Planet 40000 is a cosmic clicking game where tap on celestial bodies! Click on planets to discover and collect even more planets across the universe!">
    <meta name="keywords" content="Planet 40000, Planet Clicker, space game, cosmic clicker, celestial bodies, galaxy explorer, planet collection, universe simulator, idle space game, planetary discovery, astronomical clicker, cosmic idle, solar system game, interstellar tapper, space exploration game, planetary conquest, cosmic collector, galactic adventure, astronomy game, space idle, stellar clicker">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="빵형의 개발도상국">

    <meta property="og:title" content="Planet 40000">
    <meta property="og:description" content="Planet 40000 is a cosmic clicking game where tap on celestial bodies! Click on planets to discover and collect even more planets across the universe!">
    <meta property="og:image" content="/static/og-image.webp">
    <meta property="og:url" content="https://planet40000.m47rix.com">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Planet 40000">
    <meta property="twitter:description" content="Planet 40000 is a cosmic clicking game where tap on celestial bodies! Click on planets to discover and collect even more planets across the universe!">
    <meta property="twitter:image" content="/static/og-image.webp">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon_io/android-chrome-512x512.png">
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            touch-action: manipulation;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col items-center justify-center bg-black bg-opacity-70">
    <nav class="fixed top-0 left-0 right-0 bg-gray-800 bg-opacity-80 p-4">
        <ul class="flex justify-center space-x-6 text-white">
            <li><a href="/" class="hover:text-blue-300 transition">Home</a></li>
            <li><a href="/inventory" class="hover:text-blue-300 transition">Inventory</a></li>
            <li><a href="/shop" class="hover:text-blue-300 transition">Shop</a></li>
            {% if 'steam_id' in session %}
            <li><a href="/logout" class="hover:text-blue-300 transition">Logout</a></li>
            <li class="ml-4"><span class="text-yellow-400"><i class="fas fa-coins mr-1"></i><span id="money">{{ "{:,}".format(money) }}</span></span></li>
            {% else %}
            <li><a href="/login" class="hover:text-blue-300 transition">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="text-center">
        {% block content %}{% endblock %}
    </main>

    <footer class="fixed bottom-0 left-0 right-0 bg-gray-800 bg-opacity-80 p-4 text-white text-center">
        <p>&copy; 2024 <a href="http://www.youtube.com/@bbanghyong" class="text-blue-300 hover:text-blue-100 transition">빵형의 개발도상국</a>. All rights reserved.</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
